.menu {
  padding: 0 6px;
  border-bottom: solid 1px #e8e8e8;
  box-shadow: 0 0 30px #f3f1f1;
  max-height: 80px;
}

.menu__logo {
  min-width:300px;
  float: left;
  padding: 6px 0;
}

.menu__logo a {
  display: inline-block;
  font-size: 20px;
}

.menu__logo img {
  display: inline-block;
  max-width: 40px;
  margin-right: 6px;
}

.menu__logo h1 {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 0;
  line-height: 48px;
}

.menu__container{
  display: inline-block;
  width: calc(100% - 310px);
}

.menu__container .ant-menu-horizontal {
  border-bottom: none;
}

.menu__container .menu_right {
  float: right;
  width:100%;
  max-width:1100px;
  margin-top: 6px;
}
